table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;

}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {

  text-align: center;

}

.mat-button-toggle-checked{
  background-color:#5d5fea;
}

.mat-button-toggle{
  width: 50px;
}

.Edit{
  size: auto;

}

