#modal-content-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    background-color: white;
}
#modal-title {
    font-size: 22px;
}
#modal-footer {
    justify-self: right;
    align-self: flex-end;
}
#modal-close-button {
    background-color: #5d5fea;
}

#modal-header{
    width: fit-content;
    justify-content: center;
    justify-self: center;
}

.Toggle{
    width: fit-content;
    height: 40px;
}

.mat-button-toggle-checked{
    background-color:#5d5fea;
}

.mat-button-toggle{
  width: 50px;
}

.Slider{
    width: 100%;

}

div{
    justify-self: left;
    width: 100%;
}

#menuButton{
    background-color: #5d5fea;
}


