/* You can add global styles to this file, and also import other style files */


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }

html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fcfcfc;
}
mat-dialog-container#device-modal-component {
  
    border-radius: 11px;
    background-color: white;
}
#show-device-button {
    color: white;
    background-color: #4d6d9a;
    
}
